@import "fonts.scss";
@import "bootstrap.scss";
@import "jquery-ui.scss";
@import "flatslider.scss";

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #000000;
    margin: 0px;
    overflow: hidden;
}

span {
    display: inline-block;
    width: 60px;
    float: left;
    text-align: center;
}

#configuratorPanel {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    margin: 20px;
    background-color: rgba(255,255,255,0.7);
    border-radius: 8px;
    opacity: 1;
    box-shadow: 0px 0px 4px black;
    box-sizing: border-box;
    padding: 20px;
}

#configuratorPanel>.title {
    display: block;
    width: 100%;
    font-weight: bold;
    margin-bottom: 10px;
}

.handedness {
    text-align: center;
}

.hand-graphic {
    border: 2px solid darkgray;
    border-radius: 6px;
    cursor: pointer;
    width: 80px;
    height: 80px;
    background-color: #DEDEDE;
}
.hand-graphic:hover {
    background-color: lightgrey;
}
.hand-graphic.selected:hover,.hand-graphic.selected {
    background-color: #337ab7;
    border-color: #2e6da4;
}

/*.flat-slider.ui-slider-horizontal .ui-slider-handle {*/
    /*cursor: pointer;*/
    /*background-color: lightgrey;*/
/*}*/

.sizing {
    height: 70px;
}

.download-container {
    text-align: center;
}

.downloadBtn {
    font-size: 18px;
    text-decoration: none;
    color: #FFF;
    background-color: #337ab7;
    border: #2e6da4;
    padding: 15px 0;
    border-radius: 6px;
    width: 100%;
    margin: 0;
    display: block;
}
.downloadBtn:hover {
    background-color: #286090;
    border: #204d74;
}
