@font-face {
    font-family: 'bold';
    src: url('fonts/europa-bold-webfont.eot');
    src: url('fonts/europa-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/europa-bold-webfont.woff2') format('woff2'),
         url('fonts/europa-bold-webfont.woff') format('woff'),
         url('fonts/europa-bold-webfont.ttf') format('truetype'),
         url('fonts/europa-bold-webfont.svg#europabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'light';
    src: url('fonts/europa-light-webfont.eot');
    src: url('fonts/europa-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/europa-light-webfont.woff2') format('woff2'),
         url('fonts/europa-light-webfont.woff') format('woff'),
         url('fonts/europa-light-webfont.ttf') format('truetype'),
         url('fonts/europa-light-webfont.svg#europalight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'regular';
    src: url('fonts/europa-regular-webfont.eot');
    src: url('fonts/europa-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/europa-regular-webfont.woff2') format('woff2'),
         url('fonts/europa-regular-webfont.woff') format('woff'),
         url('fonts/europa-regular-webfont.ttf') format('truetype'),
         url('fonts/europa-regular-webfont.svg#europaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}